<template>
    <require from="../converters"></require>
    <require from="../date-picker"></require>
    <section>
        <h2>Insert an employee</h2>
        <form role="form" submit.delegate="insertEmployee()" action="#/home" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="firstName">First name:</label>
                <div class="col-sm-10">
                    <input type="text" value.bind="firstName" class="form-control" id="firstName" placeholder="First name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="lastName">Last name:</label>
                <div class="col-sm-10">
                    <input type="text" value.bind="lastName" class="form-control" id="lastName" placeholder="Last name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="address">Address:</label>
                <div class="col-sm-10">
                    <input type="text" value.bind="address" class="form-control" id="address" placeholder="Address">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="birthDate">Birth date:</label>
                <!--<div class="col-sm-10">
                    <date-picker value.two-way="birthDate"></date-picker>
                </div>-->
                <div class="col-sm-10">
                    <input type="text" value.bind="birthDate" class="form-control" id="birthDate" placeholder="Date of birth">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="startDate">Start date:</label>
                <div class="col-sm-10">
                    <input type="text" value.bind="startDate" class="form-control" id="startDate" placeholder="Date of start">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="position">Position:</label>
                <div class="col-sm-10">
                    <select value.bind="position" class="form-control" id="position">
                        <option repeat.for="option of positions" value.bind="option">${option}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="address">Salary:</label>
                <div class="col-sm-10">
                    <input type="text" value.bind="salary" class="form-control" id="salary" placeholder="Salary">
                </div>
            </div>
            <div class="form-group" show.bind="isInserted">
                <span class="label label-success">Employee added.</span>
            </div>
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save</button>
            <a href="#/home" class="btn btn-default"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Return</a>
        </form>
    </section>
</template>